@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

h4 {
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-family: 'Lora', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
/* .mario-bg {
  background-image: linear-gradient(to bottom, #ead4bd, #d8b49e) !important;
} */
.section-gallery{

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
  
}
.section-gallery > div {
  width: 500px;
  position: relative;
  max-height: 90vh;
  background: var(--white);
  overflow: hidden;
}
.img-gallery {
  position: absolute;

  max-height: 800px;
}
.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 10px;
  bottom: 10px;
}

